{% extends "@EasyAdmin/page/content.html.twig" %}


{% block main %}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Stats</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
